<form id="data">

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ID</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Descripción</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Logo</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Fecha de Liberación</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="col-md-6">

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Fecha Revisión</label>
                <input type="email" class="form-control" id="exampleInputEmail1" id="disabledTextInput" aria-describedby="emailHelp" disabled>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-6">

            <div class="mb-3" >
                <button type="submit" class="btn btn-light">Reiniciar</button>

            </div>
        </div>
        <div class="col-md-6">

            <div class="mb-3">

                <button type="submit" class="btn btn-warning">Enviar</button>
            </div>
        </div>
    </div>






</form>