<form id="data" [formGroup]="formulario" (ngSubmit)="sendProduct()">

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="id" class="form-label">ID</label>
                <input [ngClass]="{'is-invalid': hasErrorID('id', 'required') || hasErrorID('id', 'minlength') || hasErrorID('id', 'maxlength') }" type="text" class="form-control" id="id" formControlName="id">
                <div  class="text-danger" *ngIf="hasErrorID('id', 'required')">ID no válido. Campo requerido</div>
                <div  class="text-danger" *ngIf="hasErrorID('id', 'minlength')">Mínimo 3 caracteres</div>
                <div  class="text-danger" *ngIf="hasErrorID('id', 'maxlength')">Máximo 10 caracteres</div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input [ngClass]="{'is-invalid': hasErrorID('name', 'required') || hasErrorID('name', 'minlength') || hasErrorID('name', 'maxlength') }" type="text" class="form-control" id="name" formControlName="name">
                <div  class="text-danger" *ngIf="hasErrorID('name', 'required')">Nombre no válido. Campo requerido</div>
                <div  class="text-danger" *ngIf="hasErrorID('name', 'minlength')">Mínimo 5 caracteres</div>
                <div  class="text-danger" *ngIf="hasErrorID('name', 'maxlength')">Máximo 100 caracteres</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <input [ngClass]="{'is-invalid': hasErrorID('description', 'required') || hasErrorID('description', 'minlength') || hasErrorID('description', 'maxlength') }" type="text" class="form-control" id="description" formControlName="description">
                <div  class="text-danger" *ngIf="hasErrorID('description', 'required')">Nombre no válido. Campo requerido</div>
                <div  class="text-danger" *ngIf="hasErrorID('description', 'minlength')">Mínimo 10 caracteres</div>
                <div  class="text-danger" *ngIf="hasErrorID('description', 'maxlength')">Máximo 200 caracteres</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="logo" class="form-label">Logo</label>
                <input [ngClass]="{'is-invalid': hasErrorID('logo', 'required') }" type="text" class="form-control" id="logo" formControlName="logo">
                <div  class="text-danger" *ngIf="hasErrorID('logo', 'required')">Logo no válido. Campo requerido</div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="mb-3">
                <label for="date_release" class="form-label">Fecha de Liberación</label>
                <input [ngClass]="{'is-invalid': hasErrorID('date_release', 'required') }" type="date" class="form-control" id="date_release" formControlName="date_release" (change)="updateDate()">
                <div  class="text-danger" *ngIf="hasErrorID('date_release', 'required')">Fecha de liberación no válida. Campo requerido</div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="mb-3">
                <label for="date_revision" class="form-label">Fecha Revisión</label>
                <input [ngClass]="{'is-invalid': hasErrorID('date_revision', 'required') }" type="text" class="form-control" id="date_revision" formControlName="date_revision">
                <div  class="text-danger" *ngIf="hasErrorID('date_revision', 'required')">Fecha de revisión no válida. Campo requerido</div>
            </div>
        </div>

    </div>


    <div class="row" >
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-secondary me-md-2" type="button" (click)="clean()">Reiniciar</button>
            <button class="btn btn-warning" type="submit">Enviar</button>
          </div>
    </div>








</form>